<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cards.DAO.Properties.Settings.database" connectionString="Data Source=HUDIEWORMMONPC\SQLEXPRESS;Initial Catalog=bancocard;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>